Tugas AI image generator.json
{
  "name": "Tugas AI image generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Gambar Kontent Otomatis",
        "formDescription": "Masukan prompt untuk memulai otomasi!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key",
              "fieldType": "password",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -48,
        0
      ],
      "id": "589787d8-8a0e-42cd-96f6-10499131a70a",
      "name": "On form submission",
      "webhookId": "f0ea5119-2734-4026-9c93-dc15ce713b72"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.api_key}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/text-to-image\",\n  \"input\": {\n    \"prompt\": \"{{$json.prompt.replace(/\"/g, '\\\\\"')}}\",\n    \"aspect_ratio\": \"3:2\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        160,
        0
      ],
      "id": "5a429aaa-9eb9-49b4-93c5-fa16bebd7cab",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        0
      ],
      "id": "627c8beb-12b5-40fe-ac96-622d436d1d31",
      "name": "Wait",
      "webhookId": "a4322f87-e536-4c08-bd1f-353609695984"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"On form submission\"].json[\"api_key\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        576,
        0
      ],
      "id": "7a75b2de-54f2-4211-adb6-495081fa3428",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee5917b9-9453-4f25-8b21-33ca47e039f6",
              "leftValue": "=success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        -240
      ],
      "id": "20270fd5-5667-4ea2-9a0b-c2974cbe2892",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Mengambil item pertama dari input yang masuk\nconst item = $input.item; \n\n// Mengakses data.resultJson dari json item tersebut\n// Kita asumsikan resultJson adalah string yang perlu di-parse\nconst result = JSON.parse(item.json.data.resultJson);\n\nreturn {\n  img1: result.resultUrls[0] || null,\n  img2: result.resultUrls[1] || null,\n  img3: result.resultUrls[2] || null,\n  img4: result.resultUrls[3] || null\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -256
      ],
      "id": "6b32e132-970a-4ecc-8e07-e3191bd3a55e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const urls = [\n  $json.img1,\n  $json.img2,\n  $json.img3,\n  $json.img4\n].filter(Boolean);\n\n// jadikan 1 URL = 1 item\nreturn urls.map((url, index) => ({\n  json: {\n    url,\n    index: index + 1\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -32
      ],
      "id": "f3da3623-550a-4a91-a166-8a9522467127",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        160
      ],
      "id": "2a730025-768e-4e5c-a2c7-7967aba2bbb9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "5956134801",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -64
      ],
      "id": "eda7e0fa-fcba-42bc-89f8-3c4fe37307ff",
      "name": "Send a photo message",
      "webhookId": "aa5d4881-ba35-42d6-8a0a-db8bdca71134",
      "credentials": {
        "telegramApi": {
          "id": "ABLyeCkzpmPswcHk",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Send a photo message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4ac6d1d9-07f7-4ba7-b750-de0cce9e0a65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e2504c7947de6649ecf2465b464df8e3e1b078341bf3992732c984272bf1a13"
  },
  "id": "vBzf1OtcLu7CuYFj",
  "tags": []
}