Tugas AI Video generator.json
{
  "name": "Tugas AI Video generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Generate Gambar Kontent Otomatis",
        "formDescription": "Masukan prompt untuk memulai otomasi!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "prompt",
              "requiredField": true
            },
            {
              "fieldLabel": "img_url"
            },
            {
              "fieldLabel": "task_type"
            },
            {
              "fieldLabel": "api_key",
              "fieldType": "password",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -416,
        512
      ],
      "id": "563db910-886b-4232-aeaf-d2e69d5d39b3",
      "name": "On form submission",
      "webhookId": "0e5bcb45-80c0-417e-907a-7b476e6b7250"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.api_key}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"grok-imagine/image-to-video\",\n  \"input\": {\n    \"image_urls\": [\n      \"{{$json.img_url}}\"\n    ],\n    \"prompt\": \"{{$json.prompt}}\",\n    \"mode\": \"normal\",\n    \"duration\": \"6\",\n    \"resolution\": \"480p\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        240
      ],
      "id": "45fe85ce-7908-4dda-8454-00e833a8571a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -272,
        240
      ],
      "id": "44692558-676a-44a8-8b8d-637b63f3a622",
      "name": "Wait",
      "webhookId": "a4322f87-e536-4c08-bd1f-353609695984"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{$json.data.taskId}}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$node[\"On form submission\"].json[\"api_key\"]}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        240
      ],
      "id": "a4c89d6a-6cfc-4171-848f-b7c555ac43e8",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee5917b9-9453-4f25-8b21-33ca47e039f6",
              "leftValue": "=success",
              "rightValue": "={{ $json.data.state }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        240
      ],
      "id": "456dc916-16a5-481d-9096-69d4c26a3f70",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const result = JSON.parse($json.data.resultJson);\n\nreturn [{\n  videoUrl: result.resultUrls?.[0] || null\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        224
      ],
      "id": "f0f9c47f-d71c-4162-9d8d-71d94b22e13f",
      "name": "Parse Video URL"
    },
    {
      "parameters": {
        "url": "={{ $json.videoUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        544,
        224
      ],
      "id": "256aaaa6-360a-43f8-83c7-88eed8952419",
      "name": "Download Video"
    },
    {
      "parameters": {
        "name": "Video Topik 3",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1PzNe57r-Qtv4DSrm7niBVfqz3h1aoRjw",
          "mode": "list",
          "cachedResultName": "Pekan 5 AI",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1PzNe57r-Qtv4DSrm7niBVfqz3h1aoRjw"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        560
      ],
      "id": "4146dd82-9065-47a4-8315-7e4bf22ded3a",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "3DayaAvZ993zpMXp",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "prompt": "Buatkan video dari gambar ini",
          "img_url": "https://drive.google.com/uc?export=download&id=1UEOUcCokpYo-VsoLOJDLzEGfKtg4iKng",
          "task_type": "",
          "api_key": "88ac68197948576e119f8c3fcb181b67",
          "submittedAt": "2026-04-06T10:02:58.982+07:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Parse Video URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Video URL": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c6ef0564-f2e3-4b4b-9673-ae578afae7a8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3e2504c7947de6649ecf2465b464df8e3e1b078341bf3992732c984272bf1a13"
  },
  "id": "k2cCGqMpPC2eWnHw",
  "tags": []
}